  body {
        background: #333;
        padding: 70px 0;
        font: 15px/20px Arial, sans-serif;
    }
    
    .container {
        margin: 0 auto;
        width: 200px;
        height: 300px;
        position: relative;
        perspective: 1000px;
    }
    
    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    
    .item {
        display: block;
        position: absolute;
        background: #000;
        width: 200px;
        height: 300px;
        line-height: 300px;
        font-size: 10px;
        text-align: center;
        color: #FFF;
        opacity: 0.95;
        border-radius: 10px;
    }
    
    .i1 {
        transform: rotateY(0deg) translateZ(200px);
        background: #ed1c24;
    }
    
    .i2 {
        transform: rotateY(60deg) translateZ(200px);
        background: #0072bc;
    }
    
    .i3 {
        transform: rotateY(120deg) translateZ(200px);
        background: #39b54a;
    }
    
    .i4 {
        transform: rotateY(180deg) translateZ(200px);
        background: #f26522;
    }
    
    .i5 {
        transform: rotateY(240deg) translateZ(200px);
        background: #630460;
    }
    
    .i6 {
        transform: rotateY(300deg) translateZ(200px);
        background: #8c6239;
    }